@media print {
  #app{
    width: 1190px;
  }
  .download-link{
    display: none!important;
  }
  .resume2 .main-nav-item{
    padding: 0 25px!important;
  }
}
.download-link{
  position: fixed;
  right: 20px;
  top: 20px;
  display: inline-block;
  padding: 5px 10px;
  background: #00a0e9;
  color: #fff;
  z-index: 100;
}
.download-link:hover{
  color: #fff;
  background: #00aff9;
}
.resume2{
  .modeule-box{
    padding: 16px 0;
  }
}
